# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
football_env/
index2.html/

annotated/
# Data
datasets/
outputs/
uploads/
crops/
crops/
heatmaps/
player_cards/
outputs/
uploads/
heatmaps/
recovery_card/
# VS Code
.vscode/
*.pt

# OS
.DS_Store